# Python / Django
venv/
env/
__pycache__/
*.pyc
db.sqlite3
*.log

# Ollama e modelos (nunca sobem pro GitHub)
.ollama/
models/
ollama/

# VS Code
.vscode/

# Django static coletado
staticfiles/
media/

# Windows
Thumbs.db
Desktop.ini
