<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokémon Chat</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/chat.css' %}">
</head>
<body>
    {% csrf_token %}
    <div class="chat-container">
        <div class="chat-header">
            <h1 id="title-chat">Pokémon Chat</h1>
        </div>
        <div class="chat-messages" id="chat-messages"></div>

        <div class="input-area">
            <input type="text" id="message-input" placeholder="Pergunte sobre o Pokémon..." autocomplete="off">
            <button onclick="sendMessage()">Enviar</button>
        </div>
    </div>
    
    <div style="position:fixed; bottom:8px; right:12px; font-size:13px; color:#ccc; opacity:0.7; font-family: system-ui; pointer-events:none; z-index:999;">
        © 2025 
        <a href="https://www.linkedin.com/in/jacksonfidelix/" 
            target="_blank" 
            style="color:#aaa; text-decoration:none; pointer-events:auto;">
            Jackson Fidelix
        </a>
    </div>

    <script src="/static/js/chat.js"></script>
</body>
</html>